body {
    font-family: Arial, sans-serif;
    background-color: #2C2F33;
    color: #FFFFFF;
    text-align: center;
}

.container {
    padding: 20px;
}

h1 {
    color: #FFA500;
}

h2 {
    color: #FFA500;
}

#nav-bar {
    position: absolute;
    top: 10px;
    right: 10px;
}

#admin-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #FFA500;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

#admin-button:hover {
    background-color: #E69500;
}

.hex-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.hex-grid>div {
    width: 63px;
    height: 80px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    cursor: pointer;
}

.hex-grid>div .champion-portrait {
    width: 57px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hex-grid>div .champion-border {
    position: absolute;
    width: 57px;
    height: 60px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background-size: cover;
    background-position: center;
}

.cost-1 .champion-border {
    background-color: #848999;
}

.cost-2 .champion-border {
    background-color: #11b288;
}

.cost-3 .champion-border {
    background-color: #207ac7;
}

.hex-grid>div .champion-image {
    width: 52px;
    height: 55px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background-size: cover;
    background-position: center;
}

.hex-grid>div .champion-name {
    margin-top: 2px;
    font-size: 12px;
    color: white;
}


button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #FFA500;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #E69500;
}

.pocket-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.pocket-container h2 {
    margin-right: 10px;
}

#selected-champions {
    margin-bottom: 20px;
}

.star-select {
    margin-top: 5px;
    font-size: 12px;
    color: #000;
}

.comps-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comps-list>div {
    background-color: #23272A;
    border: 1px solid #323232;
    padding: 10px;
    margin: 5px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFA500;
}

.comps-list .champion-portraits {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 5px;
}

.comps-list .champion-portraits>div .champion-portrait {
    width: 49px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.comps-list .champion-portraits>div .champion-border {
    position: absolute;
    width: 48px;
    height: 50px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background-size: cover;
    background-position: center;
}

.cost-1.champion-border {
    background-color: #848999;
}

.cost-2.champion-border {
    background-color: #11b288;
}

.cost-3.champion-border {
    background-color: #207ac7;
}

.comps-list .champion-portraits>div .champion-image {
    height: 47px;
    width: 45px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background-size: cover;
    background-position: center;
}

.comps-list .champion-portraits>div .champion-name {
    margin-top: 2px;
    font-size: 10px;
    color: white;
}

#champion-value-section,
#comp-section {
    margin: 20px;
}

#champion-list,
#comp-list {
    margin: 10px 0;
}

.champion-item,
.comp-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.champion-item input,
.comp-item input {
    margin-left: 10px;
    padding: 5px;
}