body {
    font-family: Arial, sans-serif;
    background-color: #2C2F33;
    color: #FFFFFF;
    text-align: center;
}

.container {
    padding: 20px;
}

h1 {
    color: #FFA500;
}

h2 {
    color: #FFA500;
}

.hex-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.hex-grid>div {
    width: 60px;
    height: 60px;
    /* background-color: #FFFFFF; */
    margin: 5px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
    background-size: cover;
    background-position: center;
}

.cost-1 {
    background-color: #848999;
}

.cost-2 {
    background-color: #11b288;
}

.cost-3 {
    background-color: #207ac7;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #FFA500;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #E69500;
}

.pocket-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.pocket-container h2 {
    margin-right: 10px;
}

#selected-champions {
    margin-bottom: 20px;
}

.comps-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comps-list>div {
    background-color: #23272A;
    padding: 10px;
    margin: 5px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFA500;
}

.comps-list .champion-portraits {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 5px;
}

.comps-list .champion-portraits>div .champion-image {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    margin-left: 5px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background-size: cover;
    background-position: center;
}

.comps-list .champion-portraits>div .champion-name {
    margin-top: 2px;
    font-size: 11px;
    text-align: center;
}