body {
    font-family: Arial, sans-serif;
}

#champion-selection {
    margin-bottom: 20px;
}

button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
}

#selected-champions,
#results {
    margin-top: 20px;
}