<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/admin.js"></script>
</head>

<body>
    <h1>관리자 페이지</h1>
    <div id="champion-value-section">
        <h2>챔피언 밸류 수정</h2>
        <div id="champion-list">
            <!-- 챔피언 목록이 동적으로 추가될 영역 -->
        </div>
        <button onclick="saveChampionsValues()">저장</button>
    </div>
    <div id="comp-section">
        <h2>조합 관리</h2>
        <div id="comp-list">
            <!-- 조합 목록이 동적으로 추가될 영역 -->
        </div>
        <button onclick="createNewComp()">새 조합 추가</button>
    </div>
    <div id="new-comp-section" class="hidden">
        <h2> 새 조합 생성 </h2>
        <div id="new-comp-input">
            <input type="text" id="new-comp-name" placeholder="조합 이름">
            <button onclick="saveNewComp()">저장</button>
            <button onclick="cancelNewComp()">취소</button>
        </div>
        <div id="new-comp-champions-selected">
            <!-- 선택된 챔피언 목록이 추가될 영역 -->
        </div>
        <div id="new-comp-champions">
            <!-- 챔피언 목록이 동적으로 추가될 영역 -->
            <div id="cost-1"></div>
            <div id="cost-2"></div>
            <div id="cost-3"></div>
        </div>
    </div>
</body>

</html>