<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TFT Build Up Helper</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="container">
        <h1>TFT Build Up Helper</h1>
        <div id="champion-selection">
            <!-- 챔피언 버튼이 동적으로 추가될 영역 -->
            <div id="cost-1" class="hex-grid"></div>
            <div id="cost-2" class="hex-grid"></div>
            <div id="cost-3" class="hex-grid"></div>
        </div>
        <div class="pocket-container">
            <h2>POCKET</h2>
            <button id="reset-button">리셋</button>
        </div>
        <div id="selected-champions" class="hex-grid"></div>
        <h2>COMPS</h2>
        <div id="results" class="comps-list"></div>
    </div>
    <script src="/static/script.js"></script>
</body>

</html>