<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TFT Build Up Helper</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <h1>TFT 빌드업 헬퍼</h1>
    <div id="champion-selection">
        <!-- 챔피언 버튼이 동적으로 추가될 영역 -->
    </div>
    <h2>POCKET</h2>
    <div id="selected-champions"></div>
    <h2>COMP</h2>
    <div id="results"></div>
    <script src="/static/script.js"></script>
</body>

</html>